<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161330665333-4j09ebo5jvc8ohp66bekrvq9sqehsn2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161330665333-4j09ebo5jvc8ohp66bekrvq9sqehsn2u</string>
	<key>API_KEY</key>
	<string>AIzaSyCroKJNs4Rh-7rG8lOFQWZniHMtH4wgNfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>161330665333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadriye.gdgkastamonufirebase</string>
	<key>PROJECT_ID</key>
	<string>gdgkastamonu-6214b</string>
	<key>STORAGE_BUCKET</key>
	<string>gdgkastamonu-6214b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161330665333:ios:122a270916647d7806a53c</string>
	<key>DATABASE_URL</key>
	<string>https://gdgkastamonu-6214b.firebaseio.com</string>
</dict>
</plist>